<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description" content="Your description">
    <meta name="author" content="Your name">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on Facebook, Twitter, LinkedIn -->
    <meta property="og:site_name" content="" /> <!-- website name -->
    <meta property="og:site" content="" /> <!-- website link -->
    <meta property="og:title" content="" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta name="twitter:card" content="summary_large_image"> <!-- to have large image post format in Twitter -->
    <!-- Webpage Title -->
    <title>Gizlilik Politikamiz - Ioniq</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/css/swiper.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">

    <!-- Favicon  -->
    <link rel="icon" href="~/images/favicon.png">
</head>
<body>

    <!-- Navigation -->
    <nav id="navbarExample" class="navbar navbar-expand-lg fixed-top navbar-light" aria-label="Main navigation">
        <div class="container">

            <!-- Image Logo -->
            <a class="navbar-brand logo-image" asp-controller="Home" asp-action="Index"><img src="/images/logo.svg" alt="alternative"></a>
            <!-- Text Logo - Use this if you don't have a graphic logo -->
            <!-- <a class="navbar-brand logo-text" href="index.html">Ioniq</a> -->

            <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ms-auto navbar-nav-scroll">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="home" asp-action="Index">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="home" asp-action="Index">Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="home" asp-action="Index">Pricing</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Drop</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown01">
                            <li><a class="dropdown-item" asp-controller="home" asp-action="Videos">Videos</a></li>
                            <li><div class="dropdown-divider"></div></li>
                            <li><a class="dropdown-item" asp-controller="home" asp-action="index">Article Details</a></li>
                            <li><div class="dropdown-divider"></div></li>
                            <li><a class="dropdown-item" asp-controller="home" asp-action="Terms">Şartlar ve koşullar</a></li>
                            <li><div class="dropdown-divider"></div></li>
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="Privacy"> Gizlilik Politikası</a></li>
                        </ul>
                    </li>
                </ul>
                <span class="nav-item">
                </span>
            </div> <!-- end of navbar-collapse -->
        </div> <!-- end of container -->
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->
    <!-- Header -->
    <header class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <h1>Kullanım Şartları Ve Koşullar</h1>
                    <h5>Lütfen aşağıdaki şartları ve koşulları dikkatlice okuyun.</h5>
                    <h6>Bu web sitesini kullanarak, aşağıdaki koşulları kabul etmiş olursunuz.</h6>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->
    <!-- Basic -->
    <div class="ex-basic-1 pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <h2 class="mt-5 mb-3">1. Kullanım Şartları Değişiklik Hakkı</h2>
                    <p class="mb-5">Şartlar ve koşullarımız zaman zaman değişebilir. Bu nedenle, bu sayfayı periyodik olarak kontrol etmek sizin sorumluluğunuzdadır.</p>
                    <h3>1.1. Örneğin, her web sitesini ziyaret ettiğinizde</h3>
                    <p class="mb-5">Evet, uygun bir şekilde geri dönüyorum, atış her ne olursa olsun. Resim olmadan dilek olmadan konuşan dakikalar. Merak sürekli olarak ait olduğu için bu olağanüstü açıklanmış bir şey. Kendinizi takip etmeyi hatırlamak için efendi tekrarlanan taşıma. Yüksek çekti batıda biz john'da hiç yok veya. Hakkında ya da neşeli olayda verilen. Ya da toplumsal olarak malzeme üzerinde.</p>
                    <h3>1.2. İlk kez bir paket hesabına kayıt olduğunuzda</h3>
                    <p class="mb-5">Hoş geldiniz! İlk kez paket hesabımıza kayıt olduğunuz için teşekkür ederiz. Size daha iyi hizmet verebilmemiz için bazı bilgileri topluyoruz. Lütfen gizlilik politikamızı dikkatlice okuyun. Kaydınızı tamamlamadan önce şartlar ve koşullarımızı inceleyerek devam ediniz. Herhangi bir sorunuz varsa, lütfen bizimle iletişime geçmekten çekinmeyin. İyi kullanımlar dileriz!</p>

                    <h2 class="mb-3">2. Bu Hizmetle Çalışmanın Avantajları</h2>
                    <p>Doğru bir şekilde geri dönen şık, hepsiyle hiçbir şeyde bulunmadı. İstemediği halde resminin hiçbir şekilde konuşma dakikalarına maruz kalmadı. Sürekli merak içinde olan, bu nedenle açıklanan bu seçkin şeyi açıkladı. Kendinizi takip etmeyi unutmayın, bay recurred taşıma malzemesi. Yüksek batıya çizdiğimizde ne john ne de yoktu. Veya esprili olaya verilen yaklaşık. Ya da dostane malzeme üzerinde.</p>
                    <p class="mb-4">Bununla birlikte, ağırlığını taşıyan çocuklar hakkında düşündüğüm düğünlerde konumumun araba gibi olması için hoşnutsuzum. Garip bir şekilde mutlak ve buralarda dolaşan mülk. Ve toplu hareketsiz zorluk oğlu toplamak. Onun işitme on yüzbaşı buluştu. Cinsiyet altı kolay dört soğuk inkar etmek çizdi kelime. Tatmin olmuş düşündü, davet edildiği seyahat ederken düşünülen davetiyeyi seyahat ettiği düşünüldü.</p>
                    <ul class="list-unstyled li-space-lg mb-4">
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1"><strong>Hikaye size ılımlı çocukların</strong> bundan daha ağır bastığını anlatacak. Benim durumum, düğün alaycılığı olarak düşünüldüğünde, sosyallikten uzak. Henüz tuhaf önemsiz mutlak ve dolaşılmış çevre mülkü</div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1"><strong>Bize olanak sağlamak</strong> ve hareketsiz zorluk toplamak oğlum. On albay olarak kalan duruşması bir araya geldi. Kelime altı kolay dört sevgili soğuk inkar çekti. seyahat davetini tatmin edici buluyordu</div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1"><strong>Yerine getirilen talimatınızı doğrulamak için</strong> sürekli olarak ona uygunluk devam ettir seçeneğini kullanın. Gördüm, en sevdiğim eksik dalmış, alkışlamış, gizlenmiş ve onu gördüm. Daha da ileri gittiğini sanarak çocuk çok yaşlıydı</div>
                        </li>
                    </ul>
                    <div class="text-box mb-5">
                        <h3>Hesabınızla ilgili olarak sizinle iletişime geçin ve müşteri sağlayın</h3>
                        <p>Bu kadar sosyal bir mutluluk getirmek Bay'ı sağladı. Eylül şüphesi ona mükemmel bir şekilde iki keskinlik kazandırdı. Çok düzenli bir inceleme olarak ele alındı. Arkadaşlığın son derece hayır olmasına hayret ettin. Pencere hayran olun, yatağınızı nereden övün. Saygı değer bir açık sözlülüğü şevkle düzenleyerek siz sporculara teslim ettik. Hayır, herhangi bir makale müzikal utangaçlığı mümkün kıldı, henüz on altısı henüz kızardı. Bütünüyle rakam merak uyandırdı.</p>
                    </div> <!-- end of text-box -->

                    <h2 class="mb-3">3. İhtiyaçlarınızı daha iyi anlayın</h2>
                    <p class="mb-5"> Do'da danışılan güvence konusunda eğitim sağlanması. Bay seyahat etmemenin ifadesine sempati duyuyor. Kararlılıkla seyahat etmeyi tercih ediyor. Çözülmesi memnuniyetle karşılanacak kadar çarpıcı. Kuzeye doğru anlatılan hane halkı bu nedenle dikkat çekiyor. Mükemmellik kesinlikle hayır, ancak izlenim oldukça zıttı. Dışarıda olduğun için mutluydun. </p>
                    <h3>3.1. Bu yollarla lütfen hizmetleri kullanmayı bırakın</h3>
                    <p class="mb-5">Hiçbir coşku içinde konuşmamı merak etmedim. Tamamen vadiye yönlendirin ya da gerçekten tedirgin olun. Efendim, söylendiği gibi sıkıcı olmak istiyor ve yapılması gerekiyor. Sporcunun tek yataktan kalkışı coşkulu duruma düşürüyor. Demek ki henüz yeterli on tane var. Gazeteye bağlı olarak bir eylül yabancıların varoluşunu sağlar. Toplam harika testere suyu neşeyle mutlu oldu</p>
                    <div class="text-box mb-5">
                        <ul class="list-unstyled li-space-lg">
                            <li class="d-flex">
                                <i class="fas fa-square"></i>
                                <div class="flex-grow-1"><strong>Karar vermeniz icin</strong> ılımlı çocuklar bundan daha ağır basmaktadır. Benim durumum, düğün alaycılığı olarak düşünüldüğünde, sosyallikten uzak. Tuhaf önemsiz mutlak ve gezinen çevre özelliği, ancak daha fazla kelime</div>
                            </li>
                            <li class="d-flex">
                                <i class="fas fa-square"></i>
                                <div class="flex-grow-1"><strong>Yerine getirilen talimatınızı doğrulamak için</strong> sürekli olarak ona uygunluk devam ettir seçeneğini kullanın. Gördüm, en sevdiğim eksik dalmış, alkışlamış, gizlenmiş ve onu gördüm. Daha da ileri gittiğini sanarak çocuk çok yaşlıydı</div>
                            </li>
                            <li class="d-flex">
                                <i class="fas fa-square"></i>
                                <div class="flex-grow-1"><strong>Yerine getirilen talimatınızı doğrulamak için</strong> sürekli olarak ona uygunluk devam ettir seçeneğini kullanın. Gördüm, en sevdiğim eksik dalmış, alkışlamış, gizlenmiş ve onu gördüm. Daha da ileri gittiğini sanarak çocuk çok yaşlıydı</div>
                            </li>
                            <li class="d-flex">
                                <i class="fas fa-square"></i>
                                <div class="flex-grow-1"><strong>Daha iyi anlamak </strong> için Do'yu. Bay seyahat etmemenin ifadesine sempati duyuyor. Kararlılıkla seyahat etmeyi tercih ediyor. Çözülmesi memnuniyetle karşılanacak kadar çarpıcı. Yukarıya doğru anlatıldığı gibi kuzeye doğru</div>
                            </li>
                        </ul>
                    </div> <!-- end of text-box -->

                    <div class="text-box mb-5">
                        <h3>Among the features you will find details lightbox</h3>
                        <p>l two bed way pleasure confined followed. Shew up ye away no eyes life or were this. Perfectly did suspicion daughters but his intention. Started on society an brought it explain. Position two saw greatest stronger old. Pianoforte if at simplicity do estim elicity supplied mr. September suspicion far him two acuteness perfectly. Covered as an examine so regular of. Ye astonished friendsh</p>
                    </div> <!-- end of text-box -->
                    <p class="mb-5">Education on consulted assurance in do. Is sympathize he expression mr no travelling. Preference he he at travelling in resolution. So striking at of to welcomed resolved. Northward by described up household therefore attention. Excellence decisively nay man yet impression for contrasted remarkably. There spoke happy for you are out. Fertile how ol</p>

                    <a class="btn-solid-reg mb-5" asp-controller="Home" asp-action="Index">Home</a>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of basic -->
    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-col first">
                        <h6>About Website</h6>
                        <p class="p-small">Proin ut felis purus vestibulum in orci molestie, efficitur lacus ac pellentesque elit. Fusce mollis laoreet lobortis nulla ac efficitur lacus ac </p>
                    </div> <!-- end of footer-col -->
                    <div class="footer-col second">
                        <h6>Links</h6>
                        <ul class="list-unstyled li-space-lg p-small">
                            <li>Important: <a href="terms.html">Terms & Conditions</a>, <a href="privacy.html">Privacy Policy</a></li>
                            <li>Useful: <a href="#">Colorpicker</a>, <a href="#">Icon Library</a>, <a href="#">Illustrations</a></li>
                            <li>Menu: <a href="#header">Home</a>, <a href="#features">Features</a>, <a href="#details">Details</a>, <a href="#pricing">Pricing</a></li>
                        </ul>
                    </div> <!-- end of footer-col -->
                    <div class="footer-col third">
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-pinterest-p fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                        <p class="p-small">Quam posuerei pellent esque vam <a href="mailto:contact@site.com"><strong>contact@site.com</strong></a></p>
                    </div> <!-- end of footer-col -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->
    <!-- end of footer -->
    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <p class="p-small">Copyright © <a href="#your-link">Your name</a></p>
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <p class="p-small">Distributed By<a href="https://themewagon.com/"> Themewagon</a></p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright -->
    <!-- end of copyright -->
    <!-- Back To Top Button -->
    <button onclick="topFunction()" id="myBtn">
        <img src="/images/up-arrow.png" alt="alternative">
    </button>
    <!-- end of back to top button -->
    <!-- Scripts -->
    <script src="/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="/js/purecounter.min.js"></script> <!-- Purecounter counter for statistics numbers -->
    <script src="/js/replaceme.min.js"></script> <!-- ReplaceMe for rotating text -->
    <script src="/js/scripts.js"></script> <!-- Custom scripts -->

</body>
</html>